@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

* {
  font-family: 'Roboto', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(240, 240, 240);
}

.logo{
  background-color: aqua;
  width: 300px;
  padding-left: 30px;
 
}

.header-page{
  width: 100%;
  background-color: aqua;
}

ul{
  background-color: gray;
  list-style: none;
  height: 40px;
  margin:0;
  padding-top: 10px;

}

.active,.current-page{
  border-radius: 10px;
  border-style: solid;
  margin-left: 90%;
  border-width: 2px;
  text-decoration: none;
  color: antiquewhite;
}

h2{
  font-size: 50px;
}

.images{
  float:right;
  width:25%;
  max-height: auto;
  margin-right: 200px;
  margin-top: 10px;
}

.texto{
  float:left;
  width: 50%;
  margin-left: 10px;
  max-height: 40px;
  max-width: auto;
}